
<h1>May 28, 2011</h1>

<div class="lifelog_post instagram">
  <img src="/images/temp_img.jpg">
  <div class="lifelog_text">
    <p>Caption would go here</p>
    <div class="permalink">link</div>
  </div>
</div>

<div class="lifelog_post foursquare">
  <div class="lifelog_text">
    <p>Having a blast with the bomb @ Bombastic Bellies</p>
    <p>Dartmouth, NH</p>
    <div class="permalink">link</div>
  </div>
</div>

<div class="lifelog_post twitter">
  <div class="lifelog_text">
    <p>taking the plunge to go to @jkolko's http://www.designextravaganza.com conf in Oct (and an excuse to see old Trilogy friends in Austin)</p>
    <div class="permalink">link</div>
  </div>
</div>

<h1>May 14, 2011</h1>

<div class="lifelog_post tumblr">
  <div class="lifelog_text">
    <p>“In 1991, he fired much of the Pixar staff, announced the new direction to the survivors, and reorganized so that the studio could pursue one animated project at a time. “I got everybody together,” Jobs said, “and I said, ‘At our heart, we really are a content company. Let’s transition out of everything else. Let’s go for it. This is why I bought into Pixar. This is why most of you are here. Let’s go for it. It’s a higher-risk strategy, but the rewards are gonna be much higher, and it’s <a href="./permalink">Read more</a></p>
    <div class="permalink">link</div>
  </div>
</div>

<div class="lifelog_post twitter">
  <img src="/images/temp_img2.jpg">
  <div class="lifelog_text">
    <p>@ericries saw fastco video/article on pivots. I see groupon as not keeping vision but best element. I see Fab as a jump (article not you)</p>
    <div class="permalink">link</div>
  </div>
</div>
