<h1>StaticPages#index</h1>

<div class="lifelog_event instagram">
  <p>test</p>
</div>

<div class="lifelog_event foursquare">
  
  <p>test</p>
</div>

<div class="lifelog_event twitter">
  <img src="/images/temp_img2.jpg">
  <p>test</p>
</div>

<div class="lifelog_event tumblr">
  <p>test</p>
</div>