<%= render :partial => 'shared/about_header' %>
<div class="dates">
  <%= render :partial => 'posts/dates.jst', :locals => {:hbs =>  {:data => @data.as_json } } %>
</div>
<% if @data.length > 0 %>
  <div id="load_more">Load another 25 days</div>
<% end %>
