<div id="about">
  <div class="header_with_pic">
    <div class="header_image">
      <img src="<%= User.first.description %>" /> <!-- header image 440x150 -->
      <h1><%= User.first.name %></h1>
    </div>
  </div>
</div>