<div id="about">
  text here
</div>

<h1>May 28, 2011</h1>
<%= render :partial => 'posts/posts.jst', :locals => {:hbs =>  {:data => @data.as_json } } %>

  <div class='clear' />

<!-- <%# if @data.length > 0 %>
  <a id="load_posts" class="btn btn-large invisible" type="submit">Load more</a>
<%# end %> -->

<pre>
  <%= JSON.pretty_generate @data.as_json %>
</pre>