@import "shared/includes";

/********** Copyright 2012 Giff Constable, Becky Carella, Ryan Buskirk ***********/

/**** RESET ***************************************************/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*******************************************************/

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  font-size: 62.5%;
  font-family: myriad-pro, arial, sans-serif;
  background-image: $background;
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, small, label, th, td {
  font-size: 1.4em;
}

ul li, ol li { list-style-type: none; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h2 { 
  color: $dark-grey;
  font-family: adelle, arial, sans-serif;
  font-weight: 600;  /* regular is 400, bold is 700 */
  font-size: 2.8em;
  margin: 50px 0 80px 0;
  text-align: center;
  position: relative;
  background-image: $background;
  background-repeat: repeat;
  height: 1.3em;
  line-height: 1.3em;
}
h2:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #ffffff;
  @include border-radius(100px);
  height: 15px;
  width: 15px;
  border: 3px solid $dark_grey;
  top: 1.2em;
  left: 50%;
  margin: 0 0 0 -10px;
}
h2:first-child {
  margin-top: 30px;
}

p {
  color: $medium-dark-grey;
  font-family: myriad-pro, arial, sans-serif;
  font-weight: 400;  /* light is 300, bold is 700 */
  font-size: 1.6em;
  line-height: 1.5em;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 520px;
  min-width: 320px;
  padding: 0 20px 50px 20px;
}

/******* HEADER ************************/

#control_panel_min {
  display: none;
  background-color: #000000;
  height: 25px;
  position: absolute;
  top: 0px;
  right: 1%;
  @include border-radius(0 0px $post-border-radius $post-border-radius);
  @include box-shadow(1px 1px 2px 0px rgba(254,254,254,0.3));
  background: rgba(0,0,0,0.8) $spriteurl 0px -250px;
  color: $white;
  font-family: adelle, arial, sans-serif;
  font-weight: 400;  /* regular is 400, bold is 700 */
  font-size: 1.3em;
  line-height: 28px;
  padding: 0 10px 0 55px;
  z-index: 301;
  cursor: pointer;
}
#control_panel {
  @include border-radius(0 0px $post-border-radius $post-border-radius);
  @include box-shadow(1px 1px 2px 0px rgba(0,0,0,0.5));
  background: $white;
  display: none;
  position: absolute;
  top: 0px;
  right: 1%;
  width: 98%;
  min-height: 100px;
  z-index: 401;
}
#control_panel_close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: $medium-dark-grey;
  font-family: myriad-pro, arial, sans-serif;
  font-weight: 700;  /* light is 300, bold is 700 */
  font-size: 1.5em;
}
#control_panel_close:hover { text-decoration: underline; }


#about {
  color: $dark-grey;
  font-family: adelle, arial, sans-serif;
  font-weight: 600;  /* regular is 400, bold is 700 */
  .header_no_pic {
    padding: 20px;
    h1 {
      font-size: 3.2em;
      color: $medium_grey;
    }
  }
  .header_with_pic {
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    @include border-radius(0 0px $post-border-radius $post-border-radius);
    @include box-shadow(1px 2px 5px 0px rgba(0,0,0,0.5));
    overflow: hidden;
    .header_image {
      @include border-radius(0 0 $img-border-radius $img-border-radius);
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        @include border-radius(0 0 $img-border-radius $img-border-radius);
      }
      h1 {
        font-size: 3.2em;
        color: $white;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
  }
}

/******* POSTS ************************/

.dates {
  position: relative;
}
.dates:before {
  position: absolute;
  content: "";
  background: none repeat $dark_grey;
  width: 3px;
  left: 50%;
  top: 50px;
  bottom: 50px;
  margin-left: -1px;
}

.lifelog_post {
  @include border-radius($post-border-radius);
  @include box-shadow(1px 2px 5px 0px rgba(0,0,0,0.5));
  background-color: #ffffff;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 15px;
  position: relative;
  &.Foursquare:before {
    background: $spriteurl no-repeat 0px -150px;
  }
  &.Instagram:before {
    background: $spriteurl no-repeat 0px 0px;
  }
  &.Twitter:before {
    background: $spriteurl no-repeat 0px -50px;
  }
  &.Tumblr:before {
    background: $spriteurl no-repeat 0px -100px;
  }
  &.Foursquare:before {
    background: $spriteurl no-repeat 0px -150px;
  }
  &.Lastfm:before {
    background: $spriteurl no-repeat -50px 0px;
  }
  
  .media {
    text-align: center;
  }
  iframe {
    max-width: 100%;
  }
  object {
    max-width: 100%;
  }
  img {
    max-width: 100%;
    @include border-radius($img-border-radius);
  }
  .lifelog_text {
    color: $medium-dark-grey;
    font-family: myriad-pro, arial, sans-serif;
    font-weight: 400;  /* light is 300, bold is 700 */
    font-size: 1.6em;
    line-height: 1.5em;
    position: relative;
    margin: 12px 0 0 0;
    p {
      font-size: 1em;
    }
    .permalink {
      position: absolute;
      bottom: -16px;
      right: 0px;
      font-size: .9em;
      cursor: pointer;
      color: $bright_blue;
      a {
        color: $bright_blue;
      }
    }
    .permalink:hover{
      text-decoration: underline;
    }
  }
}
.lifelog_post:before {
  content: '';
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -25px;
}

.post_expander {
  font-family: adelle, arial, sans-serif;
  font-weight: 600;  /* regular is 400, bold is 700 */
  font-size: 1.6em;
  color: $bright_blue;
  background-image: $background;
  background-repeat: repeat;
    cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  padding: 5px 0;
}
.post_expander:hover {
  text-decoration: underline;
}

#load_more {
  @include border-radius($button-border-radius);
  background-color: $bright_blue;
  @include box-shadow(1px 2px 2px 0px rgba(0,0,0,0.5));
  font-family: adelle, arial, sans-serif;
  font-weight: 600;  /* regular is 400, bold is 700 */
  font-size: 2.0em;
  color: $white;
  text-align: center;
  cursor: pointer;
  padding: 15px;
}
#load_more:hover {
  background-color: $bright_blue_darker;
}

pre {
  font-family: courier, sans-serif;
  overflow: hidden;
  width: 100%;
}

/*******************************************************/

@media screen and (max-width: 400px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #about {
    .header_with_pic {
      .header_image {
        height: 85px;
        h1 {
          font-size: 2.4em;
        }
      }
    }
  }
}
