@import "shared/includes";

/**** RESET ***************************************************/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*******************************************************/

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  font-size: 62.5%;
  font-family: myriad-pro, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, small, label, th, td {
  font-size: 1.4em;
}

ul li, ol li { list-style-type: none; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h2 { 
  color: $dark-grey;
  font-family: adelle, arial, sans-serif;
  font-weight: 600;  /* regular is 400, bold is 700 */
  font-size: 2.8em;
  margin: 50px 0 80px 0;
  text-align: center;
  position: relative;
  background-color: $white;
  height: 1.3em;
  line-height: 1.3em;
}
h2:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #ffffff;
  @include border-radius(100px);
  height: 15px;
  width: 15px;
  border: 3px solid $dark_grey;
  top: 1.2em;
  left: 50%;
  margin: 0 0 0 -10px;
}

p {
  color: $medium-dark-grey;
  font-family: myriad-pro, arial, sans-serif;
  font-weight: 400;  /* light is 300, bold is 700 */
  font-size: 1.6em;
  line-height: 1.5em;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 520px; 
  padding: 0 20px 50px 20px;
}

/******* HEADER ************************/

#about {
  color: $dark-grey;
  font-family: adelle, arial, sans-serif;
  font-weight: 600;  /* regular is 400, bold is 700 */
  .header_no_pic {
    padding: 20px;
    h1 {
      font-size: 3.2em;
      color: $medium_grey;
    }
  }
  .header_with_pic {
    height: 170px;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    @include border-radius(0 0px $post-border-radius $post-border-radius);
    @include box-shadow(1px 2px 5px 0px rgba(0,0,0,0.5));
    overflow: hidden;
    position: relative;
    .header_image {
      height: 150px;
      @include border-radius(0 0 $img-border-radius $img-border-radius);
      overflow: hidden;
    }
    img {
      width: 100%;
    }
    h1 {
      font-size: 3.2em;
      color: $white;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
      position: absolute;
      bottom: 25px;
      left: 30px;
    }
  }
}

/******* POSTS ************************/

.posts {
  position: relative;
}
.posts:before {
  position: absolute;
  content: "";
  background: none repeat $dark_grey;
  width: 3px;
  left: 50%;
  top: 50px;
  bottom: 50px;
  margin-left: -1px;
}

.lifelog_post {
  @include border-radius($post-border-radius);
  @include box-shadow(1px 2px 5px 0px rgba(0,0,0,0.5));
  background-color: #ffffff;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  img {
    max-width: 100%;
    @include border-radius($img-border-radius);
  }
  .lifelog_text {
    position: relative;
    margin: 12px 0 0 0;
    .permalink {
      position: absolute;
      bottom: -10px;
      right: 0px;
      font-size: 1.2em;
      cursor: pointer;
      color: $bright_blue;
      a {
        color: $bright_blue;
      }
    }
    .permalink:hover{
      text-decoration: underline;
    }
  }
}
.lifelog_post:before {
  content: '';
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -25px;
}
.lifelog_post.Instagram:before {
  background: $spriteurl no-repeat 0px 0px;
}
.lifelog_post.Twitter:before {
  background: $spriteurl no-repeat 0px -50px;
}
.lifelog_post.Tumblr:before {
  background: $spriteurl no-repeat 0px -100px;
}
.lifelog_post.Foursquare:before {
  background: $spriteurl no-repeat 0px -150px;
}

.post_expander {
  font-family: adelle, arial, sans-serif;
  font-weight: 600;  /* regular is 400, bold is 700 */
  font-size: 1.8em;
  color: $bright_blue;
  background-color: $white;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  padding: 5px 0;
}
.post_expander:hover {
  text-decoration: underline;
}

#load_more {
  @include border-radius($button-border-radius);
  background-color: $bright_blue;
  @include box-shadow(1px 2px 2px 0px rgba(0,0,0,0.5));
  font-family: adelle, arial, sans-serif;
  font-weight: 600;  /* regular is 400, bold is 700 */
  font-size: 2.0em;
  color: $white;
  text-align: center;
  cursor: pointer;
  padding: 15px;
}
#load_more:hover {
  background-color: $bright_blue_darker;
}

pre {
  font-family: courier, sans-serif;
  overflow: hidden;
  width: 100%;
}

/*******************************************************/

@media screen and (max-width: 400px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #about {
    .header_with_pic {
      height: 120px;
      .header_image {
        height: 100px;
      }
      h1 {
        font-size: 2.6em;
      }
    }
  }
}
